<article class="relative w-full h-60 rounded-lg overflow-hidden">
    {{ $image := partial "imagextractor.html" . }}
    {{ if not (hasPrefix $image.url "data:image/") }}
    <img src="{{ $image.url }}?v={{ now.Unix }}" alt="{{ $image.alt }}" class="w-full h-full object-cover" />
    {{ else }}
    <img src="{{ $image.url }}" alt="{{ $image.alt }}" class="w-full h-full object-cover" />
    {{ end }}
    <div class="absolute inset-x-0 bottom-0 h-auto pt-3 pb-5 overflow-hidden bg-gray-800/70 backdrop-blur-xl">
        <h3 class="mt-2 py-2 line-clamp-1 text-center text-xl font-medium leading-none text-gray-100 hover:text-red-500 transition-colors duration-200">
            <a href="{{ .context.RelPermalink }}">{{ .context.LinkTitle }}</a>
        </h3>
    </div>
</article>